/* Colors:
  #B6D084 - Background color
  #F8FFCA - Alternate row color
  #2F7604 - Birthday colors
*/

body {
  background-color: #b6d084;
  font-family: arial;
  color: black;
  font-size: 14px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.today {
  color: #2f7604;
  font-size: 20px;
  border-left: 4px solid #2f7604;
}

pre,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h4 {
  font-size: 14px;
}

h3 {
  font-family: courier;
  font-weight: bold;
  font-size: 20px;
}
h3:first-child {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

tr:nth-child(odd) {
  background-color: #f8ffca;
}

table {
  border-collapse: collapse;
  border: 1px solid gray;
}
table td {
  padding: 5px 3px;
}

table td:first-child {
  font-weight: bold;
}

.hide {
  opacity: 0;
}

.passedAway {
  opacity: 0.6;
  text-transform: lowercase;
}

.soon {
  color: darkblue;
  font-size: 12px;
}
.soon span {
  font-style: italic;
}

.upcoming {
  margin: 10px 0;
}
